.example-spacer {
  flex: 1 1 auto;
}

#mat-bg {
  background-color: #009688;
}

#mat-form {
  padding-top: 20px;
  width: 80px;
  margin-right: 30px;
}

#btn {
  background-color: orange;
  margin-right: 20px;
}
